#mainandfooterbackground{
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cdn.pixabay.com/photo/2018/01/04/11/40/cake-3060458_960_720.jpg); */
    background-image:url(https://cdn.pixabay.com/photo/2018/01/04/11/40/cake-3060458_960_720.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


    /* #mainandfooterbackground::after {
        content: "";
        position: absolute;
        top: 0;  bottom: 0;
        left: 0;  right: 0;
        background: black;
        opacity:0.4;
        
      } */
    
ul{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    padding-right: 20px;
}
li{
    align-items: center;
    list-style:none;
    margin-left: 20px;
}
/* body{
    background-image: url(https://cdn.pixabay.com/photo/2016/04/18/23/08/chocolate-1337738__340.png);
    background-repeat:repeat ;} */
h1,p{
    color:#c07754;}
  h1{ font-family: 'Roboto Slab', serif;
}
header{
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-around;
    /* padding:2%; */
    background: -moz-linear-gradient(top, #c07754, rgb(155, 101, 9));
    background: -webkit-linear-gradient(top, #c07754, #FFF);
    background: linear-gradient(to bottom, #c07754, rgb(143, 95, 12));
    color:#004445
}
.diviation{
    padding:10px 10px;
}
hr{
    width: 70%;
    height: 3px;
    background-color: #c07754;
   
}
h1{
    color: #c07754;
    font-size: 50px;
    margin-left: auto;
    margin-left: 20px;
}

footer{
    
    color:#004445;
    text-align: center;
    padding-top: 30px;
}

footer i{
    color:  #004445;
}
footer p {
    color: white ;
}

.navmenu{
    color: #004445;
   
}

.navmenu ul li a {
    text-decoration: none;
    color: #004445;

}
.navmenu a:hover {
    /* color: hotpink; */
    text-decoration:underline;
  }

 i{ 
    color: #004445;
    font-size:32px;
}

i:hover{
    color: azure;
    transition: 1s;
    
    cursor: pointer;
}


.main {
    margin: 30px 30px 30px 30px;
    width: 300px;
    height: 500px;
    background-color:whitesmoke;
    
    display: flex;
    flex-wrap: wrap;
  }
  .main > img{
    transition: all .3s;
  }
  .main > img:hover {
  filter: brightness(115%);
  cursor: pointer;
  }
.productspace {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height:151px;
    text-decoration: none;
}
.productspace a {
    font-family:'Roboto Slab', serif;
    font-weight: bold;
    color: #c07754;
    text-decoration: none;
    text-align: center;
}
/* .productspace button{
    color: white;
    background-color: #c07754;
    font-size: 20px;
    margin:auto;
    border: none;
    font-family:'Roboto Slab', serif;
    cursor: pointer;
}

.productspace button:hover{
    color: #c07754;
    background-color: aliceblue;
    border:solid #c07754;
} */

.menutable{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* モバイルデザイン */
   @media screen and (max-width: 600px) {
     header {
        height: auto;
        width: 100%;
    }
    .menutable
    ul, li, nav, a{
        display: block;
        width: 100%;
        text-align: center;}


    .productspace{
        width:50%;
        
    }   
    .main{
        display: flex;
        justify-content: center;
    } 
    }
 
   
    
    /* border: 20px solid black; */

#header-container{
    height: 30px;
    width: 100%;
    /* max-width: 800px;
    text-align: center;
    display: flex;
    justify-content: center;  */
}
.button-link{
    color: white !important;
    background-color: #c07754;
    font-size: 18px;
    margin:auto;
    padding:auto;
    width:auto;
    border:solid #c07754;
    font-family:'Roboto Slab', serif ; 
    cursor: pointer;
    border-style: outset;

    /* padding: 8px 16px;
    background-color: #c07754;
    color: white !important; */
}
.button-link:hover{
    color: #c07754 !important;
    background-color: aliceblue;
    font-family:'Roboto Slab', serif;
    border:solid #c07754;
    border-style: inset;
    /* background-color: #c07654b8; */
}