.itemname{
    display: inline;
}
.itemname div,p{
    display: block;
    

}

h3{
    text-align: center;
}
h3{
    padding-right: 20px;
}
form{
    display:flex;
    justify-content: center;
    height:50%;
    margin: 30px;
}


.addcart{
    display: flex;
    justify-content: right;
    color: white;
    background-color: #c07754;
    font-size: 20px;
    margin:auto;
    border: none;
    font-family:'Roboto Slab', serif;
    cursor: pointer;
}
.product-header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-header-container .itemname{
    padding: 0 24px;
}

